<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<body>
{% block contents %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>직책 선택하기</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">홈</a></li>
                <li class="breadcrumb-item">회원가입</li>
                <li class="breadcrumb-item active">직책 선택</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">리더 계정 생성</h5>
                <p>팀의 리더 계정을 생성합니다. 리더 계정에서는 그룹을 생성할 수 있고, 리더의 권한을 가지며 토큰을 입력할 수 있습니다.</p>

                <!-- Basic Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                    선택
                </button>
                <div class="modal fade" id="basicModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Leader</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                리더를 선택하시겠습니까?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary" onclick="location.href='/accounts/authgroup'">가입</button>
                            </div>
                        </div>
                    </div>
                </div><!-- End Basic Modal-->
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">개발자 계정 생성</h5>
                <p>팀의 개발자 계정을 생성합니다. 개발자 계정에서는 그룹을 선택할 수 있습니다.</p>

                <!-- Basic Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal2">
                    선택
                </button>
                <div class="modal fade" id="basicModal2" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Developer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                개발자를 선택하시겠습니까?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기
                                </button>
                                <button type="button" class="btn btn-primary" onclick="location.href='/accounts/signup'">가입</button>
                            </div>
                        </div>
                    </div>
                </div><!-- End Basic Modal-->
            </div>
        </div>
    </div>
</main><!-- End #main -->
{% endblock %}
</body>
</html>