<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<body>
{% block contents %}
<main id="main" class="main">
    <!-- Default Card -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Email</h5>
            If you want to contact us, please contact us by this email.
            <br><i class="bi bi-envelope"></i>
            <strong>urusa@test.com</strong>
        </div>
    </div><!-- End Default Card -->


</main><!-- End #main -->
{% endblock %}
</body>
</html>