<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
<body>
{% block contents %}
<main id="main" class="main">
    <h5 class="card-title">Your Cluster Descriptions <span>| Today</span></h5>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Select your Region :)</label>
        <div class="col-sm-10">
            <form method="get" action="/board/getRepoDes" id="region_mode">
                <select onchange="this.form.submit()" name="region" class="form-select" aria-label="Default select example">
                    <option value="0" selected>Open this select menu</option>
                    <option value="us-east-2">US East (Ohio)</option>
                    <option value="us-east-1">US East (N. Virginia)</option>
                    <option value="us-west-1">US West (N. California)</option>
                    <option value="us-west-2">US West (Oregon)</option>
                    <option value="af-south-1">Africa (Cape Town)</option>
                    <option value="ap-east-1">Asia Pacific (Hong Kong)</option>
                    <option value="ap-south-1">Asia Pacific (Mumbai)</option>
                    <option value="ap-northeast-3">Asia Pacific (Osaka)</option>
                    <option value="ap-northeast-2">Asia Pacific (Seoul)</option>
                    <option value="ap-southeast-1">Asia Pacific (Singapore)</option>
                    <option value="ap-southeast-2">Asia Pacific (Sydney)</option>
                    <option value="ap-southeast-3">Asia Pacific (Jakarta)</option>
                    <option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
                    <option value="ca-central-1">Canada (Central)</option>
                    <option value="cn-north-1">China (Beijing)</option>
                    <option value="cn-northwest-1">China (Ningxia)</option>
                    <option value="eu-central-1">Europe (Frankfurt)</option>
                    <option value="eu-west-1">Europe (Ireland)</option>
                    <option value="eu-west-2">Europe (London)</option>
                    <option value="eu-west-3">Europe (Paris)</option>
                    <option value="eu-north-1">Europe (Stockholm)</option>
                    <option value="eu-south-1">Europe (Milan)</option>
                    <option value="me-south-1">Middle East (Bahrain)</option>
                    <option value="me-central-1">Middle East (UAE)</option>
                    <option value="sa-east-1">South America (São Paulo)</option>
                    <option value="us-gov-west-1">AWS GovCloud (US-West)</option>
                    <option value="us-gov-east-1">AWS GovCloud (US-East)</option>
                </select>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Repository Name</th>
            <th scope="col">Repository URI</th>
            <th scope="col">Created At</th>
        </tr>
        </thead>
        <tbody>
        {% if dict_list != None %}
            {% for repo_name,repo_uri,created_at in dict_list %}
            <tr>
                <td>{{ repo_name }}</td>
                <td>{{ repo_uri }}</td>
                <td>{{ created_at }}</td>

            </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <tr>
                <td>{{ errmsg }}</td>
                <td>{{ errcode }}</td>
            </tr>

        {% endif %}
    </table>

</main>
{% endblock %}
</body>
</html>