<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<body>
{% block contents %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <!-- Card with an image on top -->
                        <div class="card">
                            <img src="{% static 'assets/img/card.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">UC2S 서비스를 시작해보세요! </h5>
                                <p class="card-text"> UC2S는 어쩌고저쩌고저쩌고한 서비스를 제공합니다.</p>
                            </div>
                        </div><!-- End Card with an image on top -->
                    </div>

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <a href="/accounts/signup">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title">Go to sign up</h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-ui-checks"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h4>Sign Up</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
            </div><!-- End Sales Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
                <a href="/accounts/signup">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Go to Login</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Login</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
       <!-- End Customers Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="card-title">Costs <span>| Every Month</span></h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                            <h6>1000 ₩</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- End Revenue Card -->

        </div>
        </div><!-- End Left side columns -->



        </div>
    </section>

</main><!-- End #main -->

{% endblock %}
</body>
</html>