<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>
</head>
<body>
<h3>MAIN PAGE</h3>
User : {{ request.user }}
<br>
<a href="/accounts/chooseuser">회원가입</a>
<br>
<a href="/accounts/signout">회원탈퇴</a>
<br>
<a href="/accounts/login">로그인</a>
<br>
<a href="/accounts/logout">로그아웃</a>
<br>
<a href="/board/getTokenPage">token 확인</a>
<br>
<a href="/board/startcicd">cicd시작</a>
<br>
<a href="/board/getEksList">클러스터 목록 조회</a>
<br>
<a href="/board/getEksDes">모든 클러스터에 대한 상세정보 조회</a>
<br>
<a href="/board/getRepoDes">모든 레포지토리에 대한 상세정보 조회</a>
</body>
</html>