<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <img src="{% static 'assets/img/logo.png' %}">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
  </header>





<h3>MAIN PAGE</h3>
User : {{ request.user }}
<br>
<a href="/accounts/chooseuser">회원가입</a>
<br>
<a href="/accounts/signout">회원탈퇴</a>
<br>
<a href="/accounts/login">로그인</a>
<br>
<a href="/accounts/logout">로그아웃</a>
<br>
<a href="/board/getTokenPage">token 확인</a>
<br>
<a href="/board/startcicd">cicd시작</a>
<br>
<a href="/board/getEksList">클러스터 목록 조회</a>
<br>
<a href="/board/getEksDes">모든 클러스터에 대한 상세정보 조회</a>
<br>
<a href="/board/getRepoDes">모든 레포지토리에 대한 상세정보 조회</a>
</body>
</html>